
/*About Me section*/
#about{
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#aboutDiv{
    border-radius: 25px;
    text-align: center;
    position: relative;
    -ms-transform: translateY(10%);
    transform: translateY(10%);  
    display: flex;
    justify-content: center;
    height: 80%;
    width: 40%;
    background-color: hsla(0, 0%, 0%, 0.2);
    color: white;
}