#contacts{
    overflow-y: hidden;
}

#ContactDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#ContactDiv .title{
    text-align: center;
}

.contactBck{
    margin: auto auto;
	height: 200px;
	width: 400px;
    border-radius: 25px;
	background-color: hsla(0, 0%, 0%, 0.2);
    color: rgb(250, 250, 250);
    padding: 10px;
}

.calendly{
    visibility: hidden;
}


.contactBtns{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contactBtns div{
    width: 80px;
    height: 80px;
    margin: 5px;
    
    background-repeat: no-repeat;
    background-size: 100%;
}

.contactBtns div:hover{
    width: 90px;
    height: 90px;
    
}

.contactBtns div:hover:active{
    background-color: hsla(0, 0%, 0%, 0.2);
}

.meeting{
    background-image: url(/Icons/Calendar.png);
}

.email{
    background-image: url(/Icons/Email.png);
}

.linkedin{
    background-image: url(/Icons/linkedin.png);
}

.github{
    background-image: url(/Icons/github.png);
}





