/* Nav Bar */
#navDiv {
	-webkit-transition: transform 600ms;
	transition: transform 600ms;
	position: fixed;
	top: 0px;
	bottom: 0px;
	margin: auto;
	right: 0px;
	padding: 0px;
	width: 200px;
	height: 60%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;

	color: white;

	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#navDiv #langText{
	text-align: center;
	margin: 0px;
}

#navDiv.visible{
	transform: translate(-0%);
	-webkit-transform: translate(-0%);
}

#navDiv.hidden{
	visibility: visible;
	transform: translate(100%);
	-webkit-transform: translate(100%);
}

.navBar {
	
	border-top-left-radius: 25px;
	overflow-y: hidden;
	position: relative;
	list-style-type: none;
	width: 200px;
	padding: 0;
	margin: 0;
}

.navBar > li button {
	margin-top: 2px;
	color: white;
	display: block;
	border: none;
	width: 200px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
}

.navBar > li div {
	color: white;
	display: flex;
	border: none;
	width: 200px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	align-items: center;
}
.navBar > li p {
	font-size: 2vw;
	margin: 0 auto;
}

.navBar > li button{
	font-family: 'Tilt Neon', cursive;
	font-size: 1vw;
}

.navBar > li button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.navBar > li button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

/*Nav Button*/
#navBtn {
	
	border-radius: 10px;
	position: absolute;
	width: 17%;
	height: 10%;
	display: block;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding: 0;
}

#navBtn{
	-webkit-transition: transform 600ms, width 100ms, height 100ms;
	transition: transform 600ms, width 100ms, height 100ms;

	transform: translate(-0%);
	-webkit-transform: translate(-0%);
}

#navBtn:hover {
	width: 18%;
	height: 12%;
}

#navBtn.navHidden {
	visibility: visible;
	transform: translate(-100%);
	-webkit-transform: translate(-100%);
}