/*Project Section*/
.carousel-container{
	width: 100%;
	height: 100%;
}


.inner-carousel{
	width: 600px;
	height: 600px;
	position: relative;
	
	margin: 0px auto;
	overflow-x: hidden;
}

#projectList{
	height: 100%;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev{
	left: 0px;
}

.next{
	right: 0px;
}


#projectList #projectInner {
	
	position: relative;
	display: flex;
	

	border-radius: 25px;

	width: 600px;
	height: 600px;
	
	
	text-align: center;
	color: white;
	z-index: -1;

}

#projectList #project{
	position: absolute;

	border: 2px solid black;
	border-radius: 25px;
}

#projectList #project:hover {
	background-color: hsla(0, 0%, 0%, 0.10);
}

#projectList #project:active {
	background-color: hsla(0, 0%, 0%, 0.30);
}


#projectInner #projectTitle{
	font-size: 34px;
}

#projectInner #projectDesc{
	font-size: 20px;
	margin: 2px;
}

#projectInner #titleDiv{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	text-align: center;
	top:0;
	height: 20%;
}

#projectInner #imgDiv{
	width: 100%;
	position: absolute;
	top: 20%;
	height: 50%;
	z-index: -1;
}

#projectInner #descDiv{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: rgba(0, 0, 0, 0.2);
	position:absolute;
	padding: 0px;
	width: 100%;
	height: 30%;
	bottom: 0;
}
