html{
	color: white;
}
body{
	margin: auto;
	width: 60%;
}

.TextSection{
	display: grid;
	grid-template-columns: 50% 50%;
}

.padTop5{
	padding-top: 5%;
}

#CoverImage{
	position: relative;
	width: 60%;
	margin: auto;
}