/*language*/
#langDiv{
	position: fixed;
	bottom: 0px;
	width: max-content;
	left: 0px;
}

#langBar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#langList{
	float: left;
}

.langImg{
	position: relative;
	display: block;
	margin: 2px;
	width: 50px;
	height: 50px;
	padding: 0;
	opacity: 0.3;
}

.langImg:hover{
	opacity: 0.8;
}

.langImg.selected{
	opacity: 1;
}

.hidden{
	visibility: hidden;
}