html{
    height: 100%;
}
html, body{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    
}


#gradientbckg{
    height: 100%;
    width: 200%;
    background: rgb(146,0,244);
    background: linear-gradient(-45deg, rgba(146,0,244,1) 0%, rgba(146,0,244,1) 10%, rgba(253,29,29,1) 25%, rgba(255,149,0,1) 45%, rgba(255,139,2,1) 55%, rgba(253,29,29,1) 75%, rgba(146,0,244,1) 90%, rgba(146,0,244,1) 100%);
    position: fixed;
	background-size: 600% 600%;
	animation: gradient 60s ease infinite;
    z-index: -1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.hidden{
    visibility: hidden;
}

.fullScreen {
    height: 100%;
    overflow: auto;
}

.fullHeight {
    width: 100%;
}

.section{
    border: 1px solid black;
}

/* Nav Bar */
#navDiv {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(115, 105, 103, 0.5);
}

.navBar {
    position: relative;
    list-style-type: none;
    background-color: black;
    width: 200px;
    padding: 0;
    margin: 0;
}

.navBar > li a {
    color: white;
    display: block;
    padding: 8px 16px;
    background-color: #736967;
    text-align: center;
}

.navBar > li a:hover {
    background-color: #555;
    color: white;
}

.navBar > li a > .active {
    background-color: #04AA6D;
    color: white;
}

/*Nav Button*/
#navBtn {
    position: relative;
    width: 50px;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

#navBtn:hover {
    background-color: #555;
}

.navHidden {
    visibility: visible;
    left: 70%;
}

/*language*/
#langDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#langBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#langList{
    float: left;
}

.langImg{
    position: relative;
    display: block;
    margin: 2px;
    width: 50px;
    height: 50px;
    padding: 0;
    opacity: 0.3;
}

.langImg:hover{
    opacity: 0.8;
}

.langImg.selected{
    opacity: 1;
}

/*Project Section*/
#projectList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#projectList #projectLi{
    float: left;
}

#projectList #project {
    display: block;
    margin: 2px;
    width: 200px;
    height: 200px;
    padding: 0;
    text-align: center;
    color: rgb(216, 216, 216);
    background-color: #736967;
}